#welcome-section {
  background-color: black;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  /* background-image: ; */
  /* color: #be3144; */
}

.heading {
  color: white;
}
.sub-heading {
  color: #be3144;
  font-size: 24px;
}

#navbar{
  background-color: #be3144 !important;
  height: 80px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

#projects {
  padding-top: 10rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 10rem;
  background-color: #45567d;
}

.footer-links {
  margin-top: 70px;
}

.profile-link {
  padding: 30px;
  color: #f0f0f0;
  text-decoration: none;
  font-size: 25px;
  background-color: #45567d;
}

footer{
  background-color: #303841;
  color: #f0f0f0;
  text-align: center;
  padding: 100px;
}

footer > h2 {
  font-style: italic;
  font-size: 50px;
}

footer > p {
  font-style: italic;
}

@media only screen and (max-width: 1200px){
  /*Tablets [601px -> 1200px]*/
  .profile-link {
    font-size: 12px;
  }
}
@media only screen and (max-width: 600px){
/*Big smartphones [426px -> 600px]*/
.profile-link {
  font-size: 18px;
}
}
@media only screen and (max-width: 425px){
/*Small smartphones [325px -> 425px]*/
.profile-link {
  font-size: 24px;
}
}